<div class="p2-app-title-area">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="p2-app-title">
          <span>Angular Migration</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p2-spacer-20">
</div>

<div class="container">

  <div class="row justify-content-center">
    <div class="col-10 form-group">
      <label for="path">Project path</label>
      <div class="input-group mb-3">
        <input type="text" name="path" id="path" class="form-control" readonly>
        <div class="input-group-append">
          <button (click)="onBtnResetClicked()" class="btn btn-outline-secondary">Reset path</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-around">
    <div class="col-4 form-group">
      <label for="ngVersion">Current Version</label>
      <input type="text" id="ngVersion" class="form-control" readonly>
    </div>
    <div class="col-4 form-group">
      <label for="updateTo">Update To</label>
      <select id="updateTo" name="updateTo" class="form-control">
        <option value="" selected>Choose</option>
        <option value="">...</option>
      </select>
      <div class="invalid-feedback">You didn't choose a version.</div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="force">
        <label for="force">Force update</label>
      </div>
    </div>
  </div>
</div>

<div class="p2-spacer-20"></div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <button type="submit" class="btn btn-block btn-outline-secondary">Update</button>
    </div>
  </div>
</div>
