:host {
  display: block;
}

.app-header {
  position: relative;
  padding: 0.5rem 1rem;
  color: #fff;
  background: #262626;
  z-index: 100;

  h1 {
    margin: 0;
    font-size: 1rem;
  }
}

.main-container {
  min-height: calc(100vh - 48px);

}

.mat-drawer {
  background-color: #282c2e;
}

.side-drawer {
  min-width: 270px;
  width: 30%;
}

.mat-list-option {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
}

.toolbar-footer {
  background-color: #1f2020;
}

.w-50 {
  width: 50%;
}

.w-50.mr-2 {
  width: calc(50% - 0.5rem);
}

.fresh-start {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 48px);
  justify-content: center;
  align-items: center;
  cursor: default;
}

.fresh-start-icon {
  margin-bottom: 2rem;
  height: 15rem;
  width: 15rem;
}

.terminal-heading {
  margin-top: -4px;
}
