<mat-toolbar>
  <span>Ng-Migration</span>
</mat-toolbar>
<mat-sidenav-container class="main-container bg-dark">
  <mat-sidenav mode="side" opened class="side-drawer">
    <div class="d-flex flex-column h-100">
      <h2 class="px-3">CONFIGURE</h2>
      <div class="px-3 flex-grow-1 overflow-auto">
        <p>Please start by selecting an Angular Project.<span class="text-muted"> The root directory must contain <span
              class="font-italic">angular.json</span></span></p>
        <p>Selected Path </p>
        <button mat-flat-button color="primary" class="w-100" (click)="choosePath()">Select file</button>
        <input type="file" #fileInput class="d-none" accept=".json" (change)="onFileSelect($event)">
        <div class="mt-3">
          <mat-form-field class="mr-2">
            <mat-label>Current Version</mat-label>
            <input matInput [value]="version" readonly>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Update To</mat-label>
            <mat-select name="updateTo">
              <mat-option>Choose</mat-option>
              <mat-option value="">...</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <div>Flags</div>
          <mat-checkbox [disabled]="dryRunFlagDisabled" class="pr-4"> Dry Run </mat-checkbox>
          <mat-checkbox [disabled]="forceRunFlagDisabled"> Force Run </mat-checkbox>
        </div>
        <p class="m-0">Before Updating</p>
        <mat-selection-list #replacementActionList>
          <mat-list-option checkboxPosition="before" >Http to HttpClient</mat-list-option>
          <mat-list-option checkboxPosition="before">Http to HttpClient</mat-list-option>
          <mat-list-option checkboxPosition="before">Http to HttpClient</mat-list-option>
        </mat-selection-list>
        <!--<mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Before Updating
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-selection-list #replacementActionList>
              <mat-list-option checkboxPosition="before">Http to HttpClient</mat-list-option>
              <mat-list-option checkboxPosition="before">Http to HttpClient</mat-list-option>
              <mat-list-option checkboxPosition="before">Http to HttpClient</mat-list-option>
            </mat-selection-list>  
          </mat-expansion-panel>
        </mat-accordion>-->
      </div>
      <div class="px-3 py-2">
        <button mat-flat-button class="w-50" >Reset</button>
        <button mat-flat-button color="primary" class="w-50" type="submit" >Run</button>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="text-secondary">
      <mat-icon>upgrade</mat-icon>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>