<div class="p1-app-title-area">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="p1-app-title">
          <span>Angular Migration</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="p1-spacer-100">
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <div class="input-group mb-3">
        <input type="text" name="path" id="path" class="form-control form-control-lg" placeholder="Click to enter path">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary">
            <a routerLink="/secondPage">Open</a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
