<mat-card-content class="p-3 flex-grow-1">

  <h2>Getting Started</h2>

  <p>Please start by selecting an Angular Project.</p>

  <p class="text-muted">The root directory must contain <span class="font-italic">angular.json</span></p>

  <p *ngIf="selectedDirectory" class="text-muted">{{ selectedDirectory }}</p>

  <button *ngIf="!selectedDirectory" mat-raised-button color="primary" (click)="inputFolder.click()">Select Angular
    Project</button>

  <p *ngIf="errorMessage" class="mt-3 text-danger">{{ errorMessage }} Please select a valid Angular Project.</p>

  <input type="file" #inputFolder webkitdirectory directory class="d-none" (change)="onFolderSelect($event)">

</mat-card-content>

<mat-card-actions class="border-top text-right">
  <button *ngIf="selectedDirectory" mat-button (click)="selectedDirectory = null">Reset</button>
  <button mat-button color="primary" [disabled]="!selectedDirectory" (click)="onProceed()">Next</button>
</mat-card-actions>
