/* You can add global styles to this file, and also import other style files */


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  line-height: 1.5 !important;
  background-color: #f7f7f7;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #363a3b;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 1000px;
  background: #757c7d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

[hidden] {
  display: none;
}

.position-relative {
  position: relative;
}

.text-primary {
  color: #c2185b !important;
}

.text-secondary {
  color: #6c757d !important;
}

.text-accent {
  color: #607d8b !important;
}

.text-warn {
  color: #ffc107 !important;
}

.text-success {
  color: #198754 !important;
}

.text-danger {
  color: #f44336 !important;
}

.text-reset {
  color: inherit !important;
}

.text-dark {
  color: #212529 !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

small,
.small {
  font-size: 0.8rem !important;
}

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-lighter {
  font-weight: 100 !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-bold {
  font-weight: 500 !important;
}

.font-weight-bolder {
  font-weight: 700 !important;
}

.font-italic {
  font-style: italic !important;
}

.border-top {
  border-top: 1px solid #c7c7c7 !important;
}

.border-right {
  border-bottom: 1px solid #c7c7c7 !important;
}

.border-bottom {
  border-bottom: 1px solid #c7c7c7 !important;
}

.border-left {
  border-bottom: 1px solid #c7c7c7 !important;
}

.border {
  border: 1px solid #c7c7c7 !important;
}

.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

.overflow-auto {
  overflow-y: auto !important;
}

.bg-dark {
  background-color: #1f2225 !important;
}

.bg-secondary {
  background-color: #6c757d !important;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  width: 50px;
  height: 50px;

  & .path {
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }

}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }

  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
  height: auto !important;
  min-height: 48px;
  margin-bottom: 0.5rem;
  font-size: 0.9rem;

  .mat-list-item-content {
    min-height: 48px;
  }
}
